@import "../../assets/styles/colors";

.fab {
  position: fixed;
  bottom: 3.5em;
  right: 1em;

  z-index: 1;

  svg {
    fill: color(white);
  }
}

.expenseCardsContainer {
  width: 85%;
  margin: 0 auto;
}
