@import "../../assets/styles/colors";
@import "../../assets/styles/common";

.wrapper {
  @extend .expenseBaseCard;

  display: flex;
  flex-direction: column;
}

.gap {
  margin-bottom: 1em !important;
}
.hGap {
  margin-right: 1.4em !important;
}

.moreInfo {
  display: flex;
  flex-direction: column;
}

.radioGroup {
  @extend .gap;

  flex-direction: row !important;
  align-items: center;
}

.buttonGroup {
  align-self: flex-end;
}
