@import "./colors";

$expense-card-padding: 0.5em 0.85em;
$expense-card-shadow: 5px 7px 1em -0.45em black;
$expense-card-border-radius: 4px;

.expenseBaseCard {
  border-radius: $expense-card-border-radius;
  box-shadow: $expense-card-shadow;
  padding: $expense-card-padding;
  background-color: color(white);
  color: color(black);
}
